/*

/r/Doom Stylesheet by scar45 (03/2016)

	An updated version of the /r/Doom style, which aims to bring in influence from the old and new Doom series of amazing games.
	Colour scheme has been designed to resemble fire and blood (red and orange) sitting on top of a dark theme, since Doom is, you know, dark.
	Older, sprite-based elements from the original games adorn the left side of the UI, where newer bits from Doom (2016) are inlayed to the right.

	I hope you enjoy this, and if you have any feedback, please toss me a PM @ /u/scarFortyFive

	Thanks!

*/

/* Roboto */
@font-face {
    font-family: 'roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Regular-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Regular-webfont.woff') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Bold-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Bold-webfont.woff') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Aldrich */
@font-face {
    font-family: 'aldrich';
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.eot');
    src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.woff2') format('woff2'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.woff') format('woff'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.ttf') format('truetype'),
    url('chrome-extension://__MSG_@@extension_id__/src/fonts/aldrich-regular-webfont.svg#aldrichregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* STYLES */

html.r-doom-dark-fireblood body {
	background: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-bg-dark.jpg") no-repeat top right fixed #050302;
    background-size: cover;
    font-family: "roboto";
    font-size: 12px;
}

html.r-doom-dark-fireblood a {
    text-decoration: none;
    color: #FF6300;
	-webkit-transition: all 256ms ease-in-out;
	-moz-transition: all 256ms ease-in-out;
	-ms-transition: all 256ms ease-in-out;
	-o-transition: all 256ms ease-in-out;
	transition: all 256ms ease-in-out;

}

html.r-doom-dark-fireblood #header {
    height: 128px;
    background-color: #700;
    background-repeat: repeat-x;
    background-position: center 19px;
    border-bottom: 1px solid #000;
}

html.r-doom-dark-fireblood #header.header-type-low {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-header-low-bg.jpg");
    background-position: left 19px;
}

html.r-doom-dark-fireblood #header.header-type-med {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-header-med-bg.jpg");
}

html.r-doom-dark-fireblood #header.header-type-hi {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-header-hi-bg.jpg");
}

html.r-doom-dark-fireblood .pagename a {
    color: #fff;
    font-size: 1.666em;
    font-family: aldrich;
    position: relative;
    top: 6px;
    margin-right: 20px;
    text-shadow: 1px 1px 15px #f00, 1px 1px 15px #f00, 1px 1px 15px #f00, 1px 1px 5px #f00;
}

html.r-doom-dark-fireblood ul#image-preview-list .description pre {
    color: #8C8C8C;
}

html.r-doom-dark-fireblood .dropdown.srdrop .selected {
    color: #fff;
}

html.r-doom-dark-fireblood #sr-header-area {
    background-color: #4a0202;
    border-bottom: 1px solid #930d0d;
}

html.r-doom-dark-fireblood .sr-bar a {
    color: #e37373;
}

html.r-doom-dark-fireblood .sr-bar a:hover {
    text-decoration: none;
    color: #fff;
}

html.r-doom-dark-fireblood #header-img {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/snoo-doomguy.png");
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    height: 110px;
    width: 111px;
}

html.r-doom-dark-fireblood .tabmenu li a {
    padding: 4px 6px 10px 6px;
    background-color: #980000;
	background: -moz-linear-gradient(top, rgba(152,0,0,1) 0%, rgba(152,0,0,1) 72%, rgba(152,0,0,0) 100%);
	background: -webkit-linear-gradient(top, rgba(152,0,0,1) 0%,rgba(152,0,0,1) 72%,rgba(152,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(152,0,0,1) 0%,rgba(152,0,0,1) 72%,rgba(152,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#980000', endColorstr='#00980000',GradientType=0 );
    border: 1px solid #f00;
    border: 0;
    border-bottom: 0;
    border-radius: 0 8px 0 0;
    color: #eee;
}

html.r-doom-dark-fireblood .tabmenu li.selected a {
    color: #980000;
    background-color: #fff;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    border: 1px solid #fff;
    border: 0;
    border-bottom: 0;
}

html.r-doom-dark-fireblood .tabmenu li a:hover {
	background-color: #f00;
}

html.r-doom-dark-fireblood #header-bottom-right {
    background-color: #980000;
	padding: 4px 14px;
}

html.r-doom-dark-fireblood .user {
    color: #fff;
}

html.r-doom-dark-fireblood .user a {
	color: rgb(255, 163, 163);
}

html.r-doom-dark-fireblood .menuarea {
    border-bottom: 1px dashed #c92d2d;
    padding: 0 10px 0 0;
    margin: 5px 5px 20px;
    color: #fff;
}

html.r-doom-dark-fireblood .dropdown.lightdrop .selected {
    text-decoration: none;
    color: #E42222;
}

html.r-doom-dark-fireblood .drop-choices {
    border: 1px solid red;
    background-color: #980000;
}

html.r-doom-dark-fireblood .drop-choices a.choice {
    color: #fff;
}

html.r-doom-dark-fireblood .drop-choices a.choice:hover {
    background-color: #fff;
	color: #980000;
}

html.r-doom-dark-fireblood .link.last-clicked {
    border: 1px dotted #793535;
    overflow: hidden;
    background: rgba(0,0,0,0.45);
    -webkit-border-radius:0 4px 4px;
    -moz-border-radius:0 4px 4px;
    border-radius:0 4px 4px;
}

html.r-doom-dark-fireblood .side {
    background-color: rgba(98, 0, 0, 0.45);
    padding: 10px;
    margin: 0 0 0 20px;
	color: #fff;
    -webkit-border-radius:0 0 0 8px;
    -moz-border-radius:0 0 0 8px;
    border-radius: 0 0 0 8px;
}

html.r-doom-dark-fireblood .side a {
    text-decoration: none;
    color: #D87B7B;
}

html.r-doom-dark-fireblood .login-form-side {
    border: 1px solid #750e0a;
    background: rgba(0,0,0,0.666);
}

html.r-doom-dark-fireblood .morelink .nub {
	background: none;
}

html.r-doom-dark-fireblood .morelink {
    border: 0;
    background: none;
    background-image: none;
}

/*
html.r-doom-dark-fireblood .side .morelink a {
    text-decoration: none;
    color: ##ffdab6;
    letter-spacing: -0.06em;
    text-transform: lowercase;
    font-size: 1.166em;
color: #fff;
}
*/

html.r-doom-dark-fireblood .side .morelink:hover, html.r-doom-dark-fireblood .mlh, html.r-doom-dark-fireblood .morelink:hover .nub, html.r-doom-dark-fireblood .mlhn {
background-image: none;
background: none;
border: none;
-webkit-transition: all 666ms ease-in-out;
-moz-transition: all 666ms ease-in-out;
-ms-transition: all 666ms ease-in-out;
-o-transition: all 666ms ease-in-out;
transition: all 666ms ease-in-out;
}

html.r-doom-dark-fireblood .morelink:hover .nub {
	display: none;
}

html.r-doom-dark-fireblood .hover-bubble {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius:0 4px 4px;
    -moz-border-radius:0 4px 4px;
    border-radius: 0 4px 4px;
}

html.r-doom-dark-fireblood .hover-bubble.multi-selector strong {
    color: #666;
}

html.r-doom-dark-fireblood .sidebox .spacer {
    background: rgba(255, 255, 255, 0.28);
    padding-top: 15px;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

html.r-doom-dark-fireblood .sidebox .spacer a {
    background-position: -69px -353px;
}

html.r-doom-dark-fireblood .sidebox .subtitle {
    color: #fff;
}

html.r-doom-dark-fireblood .sidecontentbox .title h1 {
    color: rgb(155, 126, 126);
    font-size: 1.5em;
    font-weight: bold;
}

html.r-doom-dark-fireblood .sidecontentbox ul.content {
    margin-top: 0;
    border-color: #750E0A;
    background: rgba(0, 0, 0, 0.666);
}

html.r-doom-dark-fireblood .md {
    color: #9B7E7E;
}

html.r-doom-dark-fireblood .md a {
    color: #BF3232;
    text-decoration: none;
}

html.r-doom-dark-fireblood .md a:hover {
    color: rgb(255, 117, 0);
}

html.r-doom-dark-fireblood .md td, html.r-doom-dark-fireblood .md th {
    border: 1px solid #750e0a;
}

html.r-doom-dark-fireblood .md hr {
    background: #750e0a;
}

html.r-doom-dark-fireblood .md code {
    border: 1px solid #B3B3A6;
    background-color: rgba(252, 252, 247, 0.46);
    color: #000;
    font-weight: bold;
}

html.r-doom-dark-fireblood .titlebox {
    padding-top: 20px;
}

html.r-doom-dark-fireblood .titlebox h1 a {
    color: #b00;
    text-transform: uppercase;
    font-family: inherit;
}

html.r-doom-dark-fireblood .titlebox form.toggle, html.r-doom-dark-fireblood .leavemoderator {
    padding: 0 5px 5px 1px;
    color: #fff;
    background: #FF3D00;
    border-radius: 0 4px 4px 4px;
}

html.r-doom-dark-fireblood .titlebox .tagline, html.r-doom-dark-fireblood .titlebox .search-result-meta {
    margin: 0 5px 15px;
    background: rgba(0,0,0,0.45);
    padding: 8px;
    border-radius: 0 0 4px 4px;
}

html.r-doom-dark-fireblood .subscribe-button a {
    color: #fff;
    border: 0;
}

html.r-doom-dark-fireblood .discuss-ad {
    color: #933;
}

html.r-doom-dark-fireblood .content {
    margin: -5px 0 0;
    padding-top: 20px;
	color: #fff;
}

html.r-doom-dark-fireblood .thing {
    margin: 5px 0;
    padding: 5px 0;
	-webkit-transition: all 256ms ease-in-out;
	-moz-transition: all 256ms ease-in-out;
	-ms-transition: all 256ms ease-in-out;
	-o-transition: all 256ms ease-in-out;
	transition: all 256ms ease-in-out;
}

/*
html.r-doom-dark-fireblood .thing:hover {
	background: rgba(95, 0, 0, 0.3);
}
*/

html.r-doom-dark-fireblood .tagline, html.r-doom-dark-fireblood .search-result-meta {
    font-size: inherit;
}

html.r-doom-dark-fireblood time {
    font-weight: bold;
    color: #b2ab65;
}

html.r-doom-dark-fireblood .link .rank {
    color: #240C0C;
    text-align: center;
    font-weight: bold;
	margin-top: 21px;
}

html.r-doom-dark-fireblood .link .score {
    color: #fff;
	color: rgb(255, 99, 0);
	margin: 5px 0;
	font-size: 1.4em;
    font-family: aldrich;
}

html.r-doom-dark-fireblood .thing .title {
    color: rgb(174, 64, 64);
}

html.r-doom-dark-fireblood .link a.title {
    letter-spacing: -0.05em;
    margin-bottom: 0;
    font-family: aldrich, sans-serif;
    font-size: 18px;
    line-height: 25px;

    text-decoration: none;
    transition: 0.45s;
    position: relative;
}

html.r-doom-dark-fireblood .link a.title::before {
    content: '';
    transition: inherit;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #d00000;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
html.r-doom-dark-fireblood .link a.title:active, html.r-doom-dark-fireblood .link a.title:hover {
    outline: 0;
}
html.r-doom-dark-fireblood .link a.title:active::before, html.r-doom-dark-fireblood .link a.title:hover::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
}


html.r-doom-dark-fireblood .thing .title:visited {
    color: rgb(162, 84, 34);
}

html.r-doom-dark-fireblood .thing .title:hover {
    color: rgb(255, 99, 0);
}

html.r-doom-dark-fireblood .thing.stickied.link a.title {
    color: #FFF;
}

html.r-doom-dark-fireblood .formtabs-content {
    border-top: 4px solid #980000;
}

html.r-doom-dark-fireblood .infobar {
    background-color: #A18400;
}

html.r-doom-dark-fireblood .roundfield {
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255,0,0,0.33);
    padding: 5px 20px 10px;
}

html.r-doom-dark-fireblood .submit_text h1 {
    color: #FF0000;
}

html.r-doom-dark-fireblood .content.submit .info-notice {
    background-color: rgba(98, 0, 0, 0.45098);
    border: 1px solid #FFA500;
}

html.r-doom-dark-fireblood .tagline a, html.r-doom-dark-fireblood .search-result-meta a {
    color: #E4E4E4;
}

html.r-doom-dark-fireblood .expando-button.video.collapsed, html.r-doom-dark-fireblood .expando-button.selftext.collapsed, html.r-doom-dark-fireblood .expando-button.selftext.collapsed:hover, html.r-doom-dark-fireblood .eb-sch, html.r-doom-dark-fireblood .expando-button.video.collapsed:hover, html.r-doom-dark-fireblood .eb-vch, html.r-doom-dark-fireblood .expando-button.selftext.expanded, html.r-doom-dark-fireblood .eb-se, html.r-doom-dark-fireblood .expando-button.video.expanded, html.r-doom-dark-fireblood .eb-ve, html.r-doom-dark-fireblood .expando-button.video.expanded:hover, html.r-doom-dark-fireblood .eb-veh, html.r-doom-dark-fireblood .expando-button.selftext.expanded:hover, html.r-doom-dark-fireblood .eb-seh {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-sprites.png");
}

html.r-doom-dark-fireblood .expando-button {
    background: none;
}

html.r-doom-dark-fireblood .usertext-body, html.r-doom-dark-fireblood .media-preview, html.r-doom-dark-fireblood .expando iframe {
	border: 1px solid rgba(255, 0, 0, 0.45);
	background: rgba(0, 0, 0, 0.667) none repeat scroll 0% 0%;
	border-radius: 0px 8px 8px 7px;
}

html.r-doom-dark-fireblood .expando iframe {
    padding: 10px 0 0 10px;
}

html.r-doom-dark-fireblood textarea, html.r-doom-dark-fireblood input[type=text], html.r-doom-dark-fireblood input[type=password], html.r-doom-dark-fireblood input[type=url], html.r-doom-dark-fireblood #search input[type=text] {
    background: #420A0A;
    color: #fff;
    border: 1px solid #f00;
    border-radius: 0 8px 8px 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.58);
    padding: 5px;
    outline: none;
}

html.r-doom-dark-fireblood .usertext-body {
	padding: 0 10px;
}

html.r-doom-dark-fireblood .media-preview {
	padding: 10px;
}

html.r-doom-dark-fireblood .link .usertext-body .md {
    background: none;
    border: 0;
    color: #eee;
}

html.r-doom-dark-fireblood .linkinfo {
    border: 1px solid #FF0000;
    background-color: #292929;
}

html.r-doom-dark-fireblood .linkinfo .score .number {
    font-size: 32px;
}

html.r-doom-dark-fireblood .linkinfo .shortlink input {
    font-size: 100%;
    width: 205px;
}

html.r-doom-dark-fireblood .tagline .submitter, html.r-doom-dark-fireblood .search-result-meta .submitter {
    color: #7bdf00;
}

html.r-doom-dark-fireblood .flair, html.r-doom-dark-fireblood .linkflairlabel {
    color: #fdd;
    /*    background: #980000;
        border: 0px solid #f00;*/
}

html.r-doom-dark-fireblood span.flair {
    color: #FF6300;
}

html.r-doom-dark-fireblood .flairselector form {
    border: 1px solid rgb(255, 99, 0);
    background: rgba(0,0,0,0.45);
}

html.r-doom-dark-fireblood .flairselector {
    background: rgba(89, 7, 7, 0.86);
    box-shadow: none;
    border: 1px solid rgb(255, 99, 0);
}

html.r-doom-dark-fireblood .flairselector.drop-choices.active {
    border: none;
}

html.r-doom-dark-fireblood .flairselector h2 {
    background: none;
    color: #FF6300;
    border-bottom: 1px solid #b00;
    padding-bottom: 2px;
    margin-bottom: 4px;
    text-align: center;
}

html.r-doom-dark-fireblood .flairselector li {
    border-color: #900;
    border-width: 0px;
    padding: 3px;
}

html.r-doom-dark-fireblood .flairselector li.selected {
    border: 1px dashed #FF6300;
}

html.r-doom-dark-fireblood .flairselector li:hover {
    background-color: #FF6300;
}

html.r-doom-dark-fireblood .flairselector li a {
    color: #fff !important;
}

html.r-doom-dark-fireblood .wiki-page .pageactions .wikiaction-current {
    color: #fff;
    background-color: #980000;
}

html.r-doom-dark-fireblood .wiki-page .pageactions .wikiaction:hover {
    background-color: #531212;
}

html.r-doom-dark-fireblood input[type="text"], html.r-doom-dark-fireblood input[type="password"] {
	border-radius: 4px;
}

html.r-doom-dark-fireblood #searchexpando, html.r-doom-dark-fireblood #moresearchinfo {
    color: #600;
}

html.r-doom-dark-fireblood #searchexpando {
    background-color: rgba(255, 221, 0, 0.27);
}

html.r-doom-dark-fireblood #searchexpando label {
    color: #fff;
}

html.r-doom-dark-fireblood body >.content .link .midcol, html.r-doom-dark-fireblood .midcol-spacer {
    width: 45px;
}

html.r-doom-dark-fireblood .midcol {
    margin-right: 7px;
    margin-left: 3px;
}

html.r-doom-dark-fireblood .arrow.up, html.r-doom-dark-fireblood .arrow.down {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-sprites.png");
}

html.r-doom-dark-fireblood .thumbnail.default, html.r-doom-dark-fireblood .thumbnail.self {
    background-image: url("chrome-extension://__MSG_@@extension_id__/src/images/r-doom-sprites.png");
}

html.r-doom-dark-fireblood .entry {
    padding-left: 5px;
}

html.r-doom-dark-fireblood .nextprev a, html.r-doom-dark-fireblood .next-suggestions a {
    padding: 1px 4px 3px;
    background: #980000;
    border: 1px solid #f00;
    color: #fff;
}

html.r-doom-dark-fireblood .nextprev a:hover, html.r-doom-dark-fireblood .next-suggestions a:hover {
    background: rgb(255, 99, 0);
    border: 1px solid #f00;
}

html.r-doom-dark-fireblood .footer {
    border: 1px solid #750e0a;
}

html.r-doom-dark-fireblood .footer .col {
    border-left: 1px solid #750e0a;
}

html.r-doom-dark-fireblood .footer .col:first-child {
    border-left: 0;
}

html.r-doom-dark-fireblood .comment .child, html.r-doom-dark-fireblood .comment .showreplies {
    border-left: 0;
}

html.r-doom-dark-fireblood button, html.r-doom-dark-fireblood .side .morelink a {
    position: relative;
    margin: 0px 10px 10px 0px;
    border-radius: 0 8px 8px;
    color: #FFF;
    text-decoration: none;
    outline: none;
    padding: 5px 10px;
    font-size: 17px;
    text-shadow: 1px 2px rgba(117, 0, 0, 0.41);
    background-color: #FF6300;
    border-bottom: 5px solid #f00;
    border-color: #FF996D #FF996D #793914;
    font-weight: bold;
    letter-spacing: normal;
    opacity: 0.8;
    /* Animation */
    transition: all 256ms;
    -webkit-transition: all 256ms;
}

html.r-doom-dark-fireblood .side .morelink a {
    margin: 20px 0;
    width: auto;
}

html.r-doom-dark-fireblood button.save {
    text-shadow: 1px 2px rgba(0, 117, 3, 0.41);
    background-color: #48be38;
    border-bottom: 5px solid #008d03;
    border-color: #a1ff9d #a1ff9d #1a7938;
}

html.r-doom-dark-fireblood button:hover, html.r-doom-dark-fireblood button:focus, html.r-doom-dark-fireblood .side .morelink a:hover, html.r-doom-dark-fireblood .side .morelink a:focus {
    opacity: 1;
    text-decoration: none;
    color: #fff;
}

html.r-doom-dark-fireblood button:active, html.r-doom-dark-fireblood .side .morelink a:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom-width: 1px;
    margin-bottom: 4px;
}
